aiohttp==3.12.12
aiosmtplib==4.0.1
alpaca_trade_api==3.2.0
alpha_vantage==3.0.0
arch==7.2.0
arxiv==2.2.0
automation==0.6.1
beautifulsoup4==4.13.4
bentoml==1.4.17
boto3==1.39.4
cachetools==5.5.2
catboost==1.2.8
ccxt==4.4.91
chardet==5.2.0
consul==0.1.0
croniter==6.0.0
cryptography==45.0.5
cvxpy==1.6.5
dash==3.0.4
dash_bootstrap_components==2.0.3
deap==1.4.3
dnspython==2.7.0
docx==0.2.4
dowhy==0.13
elasticsearch==9.0.2
empyrical==0.5.5
faiss==1.5.3
fastapi==0.116.1
filelock==3.18.0
Flask==3.1.1
flask_cors==6.0.1
flask_limiter==3.12
flask_socketio==5.5.1
fpdf==1.7.2
fredapi==0.5.2
genetic_optimizer==0.1.8
great_expectations==1.5.5
gymnasium==1.1.1
holidays==0.73
huggingface_hub==0.32.0
hvac==2.3.0
ipdb==0.13.13
Jinja2==3.1.6
joblib==1.4.2
jose==1.0.0
kserve==0.15.2
librosa==0.11.0
lightgbm==4.6.0
lime==0.2.0.1
line_profiler==4.2.0
matplotlib==3.10.3
memory_profiler==0.61.0
mlflow==3.1.1
networkx==3.4.2
newsapi_python==0.2.7
nltk==3.9.1
numba==0.61.2
numpy==2.3.1
openai==1.95.1
optuna==4.3.0
pandas==2.3.1
pandas_ta==0.3.14b0
passlib==1.7.4
Pillow==11.3.0
pinecone==7.3.0
plotly==5.24.1
praw==7.8.1
prometheus_client==0.22.0
prophet==1.1.7
psutil==7.0.0
pycaret==3.3.2
pydantic==2.11.7
PyJWT==2.10.1
pymongo==4.13.2
pytest==8.4.0
python-dotenv==1.1.1
python_bcrypt==0.3.2
python_dateutil==2.9.0.post0
pytorch_lightning==2.5.2
pyttsx3==2.99
pytz==2025.2
PyYAML==6.0.2
quart==0.20.0
questionary==2.1.0
ratelimit==2.2.1
ray==2.47.1
redis==6.2.0
Requests==2.32.4
rich==14.0.0
schedule==1.2.2
scikit_learn==1.7.0
scipy==1.16.0
seaborn==0.13.2
seldon_core==1.18.2
sentence_transformers==5.0.0
sentry_sdk==2.32.0
setuptools==78.1.0
shap==0.48.0
snscrape==0.7.0.20230622
spacy==3.8.7
speechrecognition==3.14.3
SQLAlchemy==2.0.41
stable_baselines3==2.6.0
statsmodels==0.14.4
streamlit==1.46.1
structlog==25.4.0
tenacity==9.1.2
textblob==0.19.0
toml==0.10.2
torch==2.6.0
torch_geometric==2.6.1
torchserve==0.12.0
transformers==4.52.4
triton==3.3.1
twilio==9.6.5
typer==0.16.0
uvicorn==0.35.0
vaderSentiment==3.3.2
watchdog==6.0.0
wbdata==1.0.0
websockets==10.4
whisper==1.1.10
xgboost==3.0.2
